.auth-buttons {
  display: flex;
  justify-content: center;
  gap: 5.5rem; 
  margin-top: 2rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #2b6d99;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 1.2rem 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #1C6A9A; 
}

.button-icon {
  margin-right: 0.5rem;
}