---
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="KOS'BOOK | The next Documentation Tool"
  description="KOS'BOOK is a new documentation tool that will help you to create and manage your documentation."
>
  <section class="flex flex-col items-center space-y-3 py-20">
    <p>404 | This page could not be found.</p>
    <picture>
      <img
        src="/this-is-fine-404.gif"
        alt="This is fine."
        title="This is fine."
        loading="lazy"
      />
    </picture>

    <button
      title="Go back"
      id="go-back"
      class="flex items-center gap-2 bg-ziggurat-950/95 text-xs sm:text-base md:text-lg hover:bg-ziggurat-950 rounded-lg px-2 py-1"
    >
      <span class="sr-only">Go back</span>
      Go back
    </button>
  </section>
</Layout>

<script>
  const button = document.getElementById('go-back')

  button?.addEventListener('click', () => {
    window.history.back()
  })
</script>
