---
import { getSession } from 'auth-astro/server'

import MainHeader from '@/components/MainHeader.astro'
import GitHubIcon from '@/icons/GitHub.astro'
import Layout from '@/layouts/Layout.astro'

const session = await getSession(Astro.request)
---

<Layout
  title="KOS'BOOK | The next Documentation Tool"
  description="KOS'BOOK is a new documentation tool that will help you to create and manage your documentation."
>
  <MainHeader />

  <section class="flex justify-center space-x-6">
    <a
      href={session?.user ? '/upload' : '/auth'}
      class="flex items-center gap-2 text-2xl bg-ziggurat-950/95 hover:bg-ziggurat-950 rounded-2xl w-auto h-12 px-4 py-1"
    >
      <span class="sr-only">Start Free</span>
      Start Free
    </a>
    <button
      class="flex items-center gap-2 text-2xl bg-ziggurat-950/95 hover:bg-ziggurat-950 rounded-2xl w-auto h-12 px-4 py-1"
    >
      <GitHubIcon className="size-8" />
      <span class="sr-only">Star on GitHub</span>
      Star on GitHub
    </button>
  </section>
</Layout>

<script>
  const response = await fetch('/api/get-session-token.json')

  if (response.ok) {
    const session = await response.json()

    console.log(session)
  }
</script>
