---

---

<section class="flex items-center justify-center flex-col my-20">
  <p class="text-7xl">THE NEXT</p>
  <p class="text-7xl text-[#193138]">DOCUMENTATION TOOL</p>
  <p class="text-7xl">FOR YOUR TEAM</p>
</section>
