---
import { Toaster } from 'sonner'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/kos-book.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-gradient-to-t from-ziggurat-700 to-ziggurat-900 text-neutral-100 min-h-screen"
  >
    <main class="container mx-auto px-8 max-w-[1100px]">
      <nav class="flex items-center justify-between backdrop-blur sticky py-4 top-0 z-40">
        <a
          href="/"
          class="text-sm sm:text-base md:text-2xl font-bold text-[#193138] flex items-center gap-1"
          title="KOS'BOOK Logo"
        >
          <span class="sr-only">KOS'BOOK | Documentation Tool 📚 Preview</span>
          KOS'BOOK | Documentation Tool 📚 Preview
        </a>
      </nav>

      <slot />
    </main>
  </body>
</html>
